<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
    <script type='text/javascript' async
        src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script
        type='text/x-mathjax-config'> MathJax.Hub.Config({CommonHTML: { linebreaks: { automatic: true } }, 'HTML-CSS': { linebreaks: { automatic: true } },SVG: { linebreaks: { automatic: true } }, messageStyle: 'none', tex2jax: {preview: 'none'} });</script>
    <meta charset='UTF-8'>
    <style>
        * {
            font-family: 'Roboto', 'Ek Mukta';
        }

        html {
            -webkit-print-color-adjust: exact;
        }

        body {
            background: #fff;
        }
    </style>

</head>

<body>
    <div id="ocr" style="text-align: left">
        <div style="padding: 30px 10px;"><a href="https://doubtnut.app.link/uScKVZkoq4" target="_blank"
                style="text-decoration:none; color:black; width:100%">
                <div style="width: 68%; display: inline-block;">
                    <p style="font-size: 40px; padding:0 0 20px 0; text-transform: UPPERCASE; margin-top:0px">
                        <strong>###TITLE###</strong></p>
                    <!-- <p style="margin: 10px 0; font-size: 26px; padding:0 0 20px 0;">+ <span style="font-size: 30px;
    text-decoration: underline;"> ###RESULT_LENGTH###</span> other related solutions</p> -->
                    <!-- <span
                        style="background: #ea532c; color: #ffffff; padding: 8px; border-radius: 5px; font-size: 24px; ">Download
                        Doubtnut APP Now!</span> -->
                </div>
                <div style="float:right; width: 30%; display: inline-block; text-align: center;">
                    <img src="https://d10lpgp6xz60nq.cloudfront.net/images/logo_for_pdf_1.png" style="width: 100%;" />
                </div>
            </a>
        </div>

        ###QUESTION_LIST###

        <!-- <div
            style="width: 92%; font-size: 36px; font-family: arial; margin: 0 auto; padding: 30px 0; border-bottom: 1px solid #e3dede; text-align: center">
            <img src="###SOURCE_FOOTER###" style="width:100%;"></div> -->

</body>

</html>
